[submodule "lib/flask"]
	path = lib/flask
	url = git://github.com/mitsuhiko/flask.git
[submodule "lib/gevent-socketio"]
	path = lib/gevent-socketio
	url = git://github.com/abourget/gevent-socketio.git
[submodule "lib/gevent"]
	path = lib/gevent
	url = git://github.com/surfly/gevent.git
[submodule "lib/gevent-websocket"]
	path = lib/gevent-websocket
	url = git://github.com/jgelens/gevent-websocket.git
[submodule "lib/jinja2"]
	path = lib/jinja2
	url = git://github.com/mitsuhiko/jinja2.git
[submodule "lib/werkzeug"]
	path = lib/werkzeug
	url = git://github.com/mitsuhiko/werkzeug.git
[submodule "lib/greenlet"]
	path = lib/greenlet
	url = git://github.com/python-greenlet/greenlet.git
[submodule "lib/markupsafe"]
	path = lib/markupsafe
	url = git://github.com/mitsuhiko/markupsafe.git
